<div class="card w-50 mx-auto mb-3">
  <div class="card-body d-flex flex-column gap-3">
    <div>
      <h5 class="card-title" style="max-height: 3rem; overflow: hidden"><%= post.postTitle %></h5>
      <div id="post-detail">
        <span class="fw-bold">Status:
          <% if (post.postPublishedStatus) { %>
          <span class="text-success">Published</span>
          <% } else { %>
          <span class="text-danger">Unpublished</span>
          <% } %>
        </span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot"
            viewBox="0 0 16 16">
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
          </svg>
        </span>
        <span>Created:
          <span><%= post.date %> </span>
        </span>
      </div>
    </div>
    <p class="card-text text-left text-truncate"><%= post.postContentPreview %></p>
    <div class="d-flex justify-content-between">
      <a href=<%= post.editorUrl %>  class="btn btn-primary">Open Editor</a>
      <div class="d-flex gap-2">
        <a href="#" class="btn btn-outline-success">Published</a>
        <a href="#" class="btn btn-outline-danger disabled">Unpublished</a>
      </div>
    </div>
  </div>
</div>