<div class="modal fade" id="cta-modal" tabindex="-1" aria-labelledby="cta-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cta-modal-label"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="/">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close & Exit</button>
        </a>
      </div>
    </div>
  </div>
</div>