<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="height: 4rem;">
    <a id="logo" href="/" class="navbar-brand text-primary">myblog.</a>
    <ul class="nav">
      <li class="nav-item">
        <a href="/editor/posts/create" class="nav-link">Create New Post</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <form action="/auth/logout" method="post">
          <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>