<%- contentFor('loginView') %> 
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex flex-column w-50 border rounded bg-white pt-3 pb-3">
      <div id="title" class="container mb-3">
        <h4 id="logo" class="text-primary">myblog.</h4>
      </div>
      <div id="subtitle" class="container">
        <p>Login to manage blog content:</p>
      </div>
      <form id="loginForm" action="" method="post" class="container d-flex flex-column gap-3">
        <div class="form-floating">
          <input type="text" class="form-control" name="username" id="floatingInput" placeholder="username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid">
          <button class="btn btn-primary d-flex gap-1 align-items-center justify-content-center" type="submit">
            <span class="fw-bold">Login</span>
          </button>
        </div>
      </form>
      <div class="container d-flex flex-column flex-grow-1 justify-content-end align-items-end mt-4">
        <a href="#" class="text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
              d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
          <span class="d-inline align-middle">back to client view</span>
        </a>
      </div>
    </div>
  </div>